# Файл с секретными переменными окружения
.env

# Файлы состояния и базы данных
bot_persistence.pickle
*.db
*.sqlite3
checkin_bot_db

# Папки с виртуальным окружением
venv/
*.venv/
env/

# Кэш Python
__pycache__/
*.pyc